/* Base spacing value */

/* Golden ratio */
$golden-ratio: 1.618;

/* Spacing variables */
$spacing--md: 1rem;
$spacing--xxxs: calc(
	$spacing--md / $golden-ratio / $golden-ratio / $golden-ratio / $golden-ratio
);
$spacing--xxs: calc(
	$spacing--md / $golden-ratio / $golden-ratio / $golden-ratio
);
$spacing--xs: calc($spacing--md / $golden-ratio / $golden-ratio);
$spacing--sm: calc($spacing--md / $golden-ratio);
$spacing--lg: calc($spacing--md * $golden-ratio);
$spacing--xl: calc($spacing--md * $golden-ratio * $golden-ratio);
$spacing--xxl: calc(
	$spacing--md * $golden-ratio * $golden-ratio * $golden-ratio
);

/* Breakpoint variables */
$breakpoint-xs: 500px;
$breakpoint-sm: 750px;
$breakpoint-md: 1150px;
$breakpoint-lg: 1350px;
$breakpoint-xl: 1500px;

/* Color variables */
$color--darkest: hsl(0, 0%, 17%);
$color--darker: hsl(8, 6%, 27.1%);
$color--dark: hsl(15, 12.5%, 37.3%);
$color--medium-dark: hsl(22.5, 18.8%, 47.4%);
$color--neutral: hsl(30, 25%, 57.5%);
$color--medium-light: hsl(37.5, 31.3%, 67.6%);
$color--light: hsl(45, 37.5%, 77.8%);
$color--lighter: hsl(52.5, 43.8%, 87.9%);
$color--lightest: hsl(60, 50%, 98%);

$color--orange: hsl(28, 100%, 60%);
$color--orange-dark: hsl(28, 100%, 45%);
$color--eggshell: hsl(60, 50%, 98%);
$color--eggshell-transparent: hsla(60, 50%, 98%, 0);

/* Mixin for flexible media queries */
@mixin media($min: null, $max: null) {
	$min-width: null;
	$max-width: null;

	// Determine min-width value
	@if $min == "xs" {
		$min-width: $breakpoint-xs;
	} @else if $min == "sm" {
		$min-width: $breakpoint-sm;
	} @else if $min == "md" {
		$min-width: $breakpoint-md;
	} @else if $min == "lg" {
		$min-width: $breakpoint-lg;
	} @else if $min == "xl" {
		$min-width: $breakpoint-xl;
	} @else {
		$min-width: $min;
	}

	// Determine max-width value
	@if $max == "xs" {
		$max-width: $breakpoint-xs;
	} @else if $max == "sm" {
		$max-width: $breakpoint-sm;
	} @else if $max == "md" {
		$max-width: $breakpoint-md;
	} @else if $max == "lg" {
		$max-width: $breakpoint-lg;
	} @else if $max == "xl" {
		$max-width: $breakpoint-xl;
	} @else {
		$max-width: $max;
	}

	// Build the media query
	@if $min and $max {
		@media (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	} @else if $min {
		@media (min-width: $min-width) {
			@content;
		}
	} @else if $max {
		@media (max-width: $max-width) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin hide-up($breakpoint) {
	@if $breakpoint == "xs" {
		@media (min-width: $breakpoint-xs) {
			display: none !important;
		}
	} @else if $breakpoint == "sm" {
		@media (min-width: $breakpoint-sm) {
			display: none !important;
		}
	} @else if $breakpoint == "md" {
		@media (min-width: $breakpoint-md) {
			display: none !important;
		}
	} @else if $breakpoint == "lg" {
		@media (min-width: $breakpoint-lg) {
			display: none !important;
		}
	} @else if $breakpoint == "xl" {
		@media (min-width: $breakpoint-xl) {
			display: none !important;
		}
	}
}

@mixin hide-down($breakpoint) {
	@if $breakpoint == "xs" {
		@media (max-width: $breakpoint-xs) {
			display: none !important;
		}
	} @else if $breakpoint == "sm" {
		@media (max-width: $breakpoint-sm) {
			display: none !important;
		}
	} @else if $breakpoint == "md" {
		@media (max-width: $breakpoint-md) {
			display: none !important;
		}
	} @else if $breakpoint == "lg" {
		@media (max-width: $breakpoint-lg) {
			display: none !important;
		}
	} @else if $breakpoint == "xl" {
		@media (max-width: $breakpoint-xl) {
			display: none !important;
		}
	}
}

body div:last-child:has(.grecaptcha-badge) {
	display: none;
	.grecaptcha-badge {
		visibility: hidden;
	}
}

.hide--xs-up {
	@include hide-up(xs);
}

.hide--sm-up {
	@include hide-up(sm);
}

.hide--md-up {
	@include hide-up(md);
}

.hide--lg-up {
	@include hide-up(lg);
}

.hide--xl-up {
	@include hide-up(xl);
}

.hide--xs-down {
	@include hide-down(xs);
}

.hide--sm-down {
	@include hide-down(sm);
}

.hide--md-down {
	@include hide-down(md);
}

.hide--lg-down {
	@include hide-down(lg);
}

.hide--xl-down {
	@include hide-down(xl);
}

* {
	font: unset;
	font-family: "area-inktrap", sans-serif;
	font-weight: 500;
	appearance: none;
	// letter-spacing: 0.005rem;
	background-color: unset;
	color: $color--darker;
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	text-wrap: pretty;

	@include media(null, md) {
		font-size: 15px;
	}

	@include media(md) {
		font-size: 17.3px;
	}
}

strong,
b {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: $color--eggshell;

	@include media(null, sm) {
		gap: $spacing--lg;
	}
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include media(null, xs) {
		row-gap: $spacing--xl;
	}

	@include media(xs) {
		row-gap: $spacing--xl;
		max-width: $breakpoint-xl;
	}
}

.mini-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: $spacing--sm;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: $color--orange-dark;
	text-decoration-thickness: 2px;

	&.button__wrapper {
		text-decoration: none;
	}
}

p {
	text-wrap: pretty;
}

p a {
	color: $color--orange-dark;
	font-weight: 600;
	text-decoration: none;
}

.error-message {
	font-size: 0.75rem;
	color: red;
}

.serif {
	font-size: inherit;
	font-family: "ivyora-text", serif;
	font-style: italic;
}

h1 {
	font-size: $spacing--xl;
	font-weight: 700;
	// margin: -0.5rem 0 -0.5rem;
	line-height: 115%;
	text-wrap: balance;
}

h2 {
	font-size: $spacing--lg;
	font-weight: 700;
}

h3 {
	font-size: calc(($spacing--lg + $spacing--md) / 2);
	font-weight: 700;
}

h4 {
	color: $color--medium-dark;
}

h4,
.form label {
	font-size: calc(($spacing--md + $spacing--sm) / 2);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

p,
li {
	font-size: $spacing--md;
	line-height: 160%;
}

// Mixin for creating flex groups
@mixin flex-group($direction, $gap) {
	display: flex;
	flex-direction: $direction;
	gap: $gap;
}

// Generate all flex group classes
$spacing-sizes: (
	"xxs": $spacing--xxs,
	"xs": $spacing--xs,
	"sm": $spacing--sm,
	"md": $spacing--md,
	"lg": $spacing--lg,
	"xl": $spacing--xl,
);

@each $size, $value in $spacing-sizes {
	.group--hz-#{$size} {
		@include flex-group(row, $value);
	}

	.group--vt-#{$size} {
		@include flex-group(column, $value);
	}
}

.subtext {
	font-size: calc(($spacing--md + $spacing--sm) / 2);
	line-height: 160%;
	color: $color--medium-dark;

	* {
		font: inherit;
		color: inherit;
	}

	a {
		text-decoration: underline;
	}
}

img {
	display: block;
}

.layout--grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.feature__wrapper {
	.feature__image-slideshow > img {
		object-fit: cover;
		width: 100%;
		height: 100%;

		transition: aspect-ratio 0.23s ease-in-out;

		@include media(null, sm) {
			aspect-ratio: 16 / 9;
		}
		@include media(sm, md) {
			aspect-ratio: 1 / 1;
		}
		@include media(md, lg) {
			aspect-ratio: 4 / 3;
		}
		@include media(lg) {
			aspect-ratio: 16 / 9;
		}
	}

	.feature__image--enlarged {
		display: none;
	}

	@include media(sm, md) {
	}

	@include media(null, sm) {
		grid-template-areas:
			". title title title title title title title title title title ."
			"image image image image image image image image image image image image"
			". text-content text-content text-content text-content text-content text-content text-content text-content text-content text-content .";

		row-gap: $spacing--md;

		> .feature__title {
			grid-area: title;
		}
		.feature__image-slideshow {
			grid-area: image;
		}
		.feature__text-content {
			grid-area: text-content;
		}
	}

	@include media(sm) {
		&:nth-of-type(odd) {
			grid-template-areas: ". text-content text-content text-content text-content . image image image image image image";
		}
		&:nth-of-type(even) {
			grid-template-areas: "image image image image image image . text-content text-content text-content text-content .";
		}

		row-gap: $spacing--lg;
		flex-direction: column;

		.feature__text-content {
			grid-area: text-content;
		}
		.feature__image-slideshow {
			grid-area: image;

			&.enlargeable:has(.hidden) {
				cursor: zoom-in;
			}
		}

		.feature__image--enlarged:not(.hidden) {
			display: flex;
			align-items: center;

			img {
				max-height: calc(100vh - $spacing--xl);
				max-width: calc(100vw - $spacing--xl);
			}
		}
	}
}

.feature__text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include media(null, sm) {
		gap: $spacing--md;
	}

	@include media(sm) {
		gap: $spacing--lg;
	}
}

.feature__body {
	display: flex;
	flex-direction: column;
	gap: $spacing--sm;
}

.feature__button-group {
	display: flex;
	flex-direction: column;
	gap: $spacing--sm;
}

.navigation-bar__wrapper {
	position: sticky;
	top: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		$color--eggshell,
		$color--eggshell-transparent
	);
	z-index: 2;
	padding: $spacing--xs;
	box-sizing: border-box;

	&:not(.open) {
		.menu-toggle--close {
			display: none;
		}
		.navigation-bar__links {
			@include media(null, sm) {
				display: none;
			}
		}
	}

	&.open {
		.menu-toggle--open {
			display: none;
		}

		@include media(null, sm) {
			height: 100dvh;
			background-color: $color--eggshell;
		}
	}
}

.navigation-bar__container {
	align-items: center;

	@include media(null, sm) {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: min-content;
		gap: $spacing--md;
	}

	@include media(sm) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.navigation-bar__logo,
.navigation-bar__menu-toggle {
	position: relative;

	width: $spacing--xxl;
	height: $spacing--xxl;
}

.navigation-bar__logo img {
	width: 100%;
	height: 100%;
}

.navigation-bar__menu-toggle {
	img {
		width: 100%;
	}

	@include media(sm) {
		display: none;
	}
}

.navigation-bar__links {
	display: flex;
	gap: $spacing--md;
	align-items: center;

	@include media(null, sm) {
		grid-column: 1 / -1;
		flex-direction: column;
		height: 100%;
	}

	@include media(sm) {
		flex-direction: row;
	}
}

.navigation-bar__link a {
	// font-size: $spacing--md;
	font-weight: 700;

	@include media(null, sm) {
		font-size: $spacing--lg;
	}
}

.footer__wrapper {
	background-color: $color--darkest;
	padding: $spacing--lg $spacing--xs;

	* {
		color: $color--eggshell;
	}
}

.footer__section__wrapper {
	display: flex;
	flex-direction: column;
	gap: $spacing--md;

	@include media(null, sm) {
		grid-column: 2 / -2;
	}
	@include media(sm) {
		grid-column: span 3;
		box-sizing: border-box;
	}
}

.footer__section__links {
	display: flex;
	flex-direction: column;
	gap: $spacing--xs;
}

.footer__section__link {
	display: flex;
	gap: $spacing--xxs;
	align-items: center;

	.icon {
		width: $spacing--lg;
		height: $spacing--lg;
		object-fit: cover;
	}
}

.header__wrapper {
	flex-direction: column;
}

.header__container {
	display: flex;
	gap: $spacing--md;
	flex-direction: column;
	align-items: center;

	h1,
	.header__body {
		width: 100%;
		max-width: 35rem;
	}
}

.header__body {
	display: flex;
	flex-direction: column;
	gap: $spacing--sm;
}

.content-grid__container {
	display: flex;
	flex-direction: column;
	gap: $spacing--lg;
}

.content-grid__text-body {
	display: flex;
	gap: $spacing--md;
	flex-direction: column;
	align-items: center;

	h1,
	p {
		width: 100%;
		max-width: 35rem;
	}
}

.content-grid__cells {
	gap: $spacing--sm;
}

.content-grid__cell {
	background-color: $color--eggshell;
	border: 1px solid $color--neutral;
	border-radius: $spacing--sm;
	padding: $spacing--sm;
	display: flex;
	flex-direction: column;
	gap: $spacing--sm;

	@include media(null, sm) {
		grid-column: 1 / -1;
	}

	@include media(sm) {
		grid-column: span 4;
	}
}

.content-grid__cell__title {
	display: flex;
	flex-direction: column;
}

.page__home,
.page__whats-on {
	@include media(sm) {
		row-gap: 0;
	}
}

.page__about,
.page__beliefs,
.page__connect,
.page__donate {
	gap: $spacing--xl;

	@include media(null, sm) {
		padding: 0 $spacing--xs;
	}

	@include media(sm) {
		padding: $spacing--xl $spacing--xs;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: $spacing--md;
}

.form .form__input-group {
	display: flex;
	width: 100%;
	gap: $spacing--md;
}

.form .form__field {
	display: flex;
	flex-direction: column;
	gap: $spacing--xs;
	width: 100%;
}

.button__wrapper,
.form input,
.form textarea {
	display: flex;
	width: 100%;
	padding: $spacing--xs $spacing--md;
	background-color: $color--eggshell;
	border: 1px solid $color--neutral;
	border-radius: $spacing--md;
}

.form textarea {
	resize: none;
	height: $spacing--xxl;
}

.button__wrapper {
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border: 2px solid $color--orange;
}

.connect__form,
.donate__form,
.connect__header,
.donate__header {
	@include media(null, sm) {
		grid-column: 2 / -2;
	}

	@include media(sm) {
		grid-column: 4 / -4;
	}
}

.modal__overlay {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #{$color--darkest}80;
	width: 100vw;
	height: 100vh;
	padding: $spacing--md;
	align-items: flex-start;
	justify-content: center;
}

.modal__container {
	background-color: $color--eggshell;
	padding: $spacing--md;
	box-sizing: border-box;
	border-radius: $spacing--md;
	border: 1px solid $color--neutral;
	width: 100%;
	max-width: $breakpoint-sm;
	position: relative;

	h3 {
		padding-right: $spacing--lg;
	}
}

.modal__close {
	position: absolute;
	top: $spacing--md;
	right: $spacing--md;
	font-size: $spacing--lg;
	line-height: 100%;
	cursor: pointer;
}
